@imageWidth: 620px;
@peekWidth: 20px;

.carousel {
	background-color: #f6f6f6;
	height: @pageHeight;
	overflow: hidden;
	line-height: 1;
	position: relative;
}

.carousel-inner {
	left: -571px;
	width: 1000000px;
	height: 495px;
	img {
		margin-left: 15px;
		margin-right: 15px;
	}
}