@imageWidth: 620px;
@peekWidth: 20px;

.carousel {
	background-color: #f6f6f6;
	height: @pageHeight;
	overflow: hidden;
	display: none;
}

.carousel-inner {
	position: relative;
	font-size: 0;
	img {
		margin-left: 15px;
		margin-right: 15px;
		width: @imageWidth;
		.box-shadow(5px 5px 8px 0 #bcbec0);
		-webkit-background-clip: padding-box;
	}
}

// vertically align
table {
	height: 100%;
	width: 100%;
	* {
		margin: 0;
		padding: 0;
		border: 0;
	}
	td { vertical-align: middle; }
}