{% extends "bibiana.html" %}

{% block main %}
	{% for _, project in projects|dictsort %}
		{% if loop.index0 is divisibleby 3 %} <div class="row"> {% endif %}
			{% if project.get('url') %}<a href="{{ project['url'] }}">{% endif %}
                <div class="span12 preview" style="background-image:url('{{ project['image_url'] }}');">
                    <span class="orange {{ 'hover' if project.get('url') }}">
                        <span class="number">
                            <span class="section">{{ project['section_number'] }}</span>
                            <span class="slash">/</span>
                            <span class="project">{{ project['project_number'] }}</span>
                        </span>
                        <span class="text">
                            <span class="section">{{ project['section_name']|upper }}</span>
                            <span class="project">/ {{ project['project_name']|upper }}</span>
                        </span>
                    </span>
                </div>
            {% if project.get('url') %}</a>{% endif %}
        {% if loop.index is divisibleby 3 %} </div> {# endrow #}{% endif %}
    {% endfor %}
    {% if projects.keys()|length == 8 %}
        <div class="span12 bottom-right">
            <div class="section">
                <span class="number">{{ section[:2] }}</span>
                <span class="slash">/</span>
                <span class="name">{{ section[2:]|upper }}</span>
            </div>
        </div>
    </div> {# endrow #}
    {% endif %}
{% endblock %}