{% extends "bibiana.html" %}

{% block menu %}
	<ol>
		{% for (section_number, section_name), projects in tree|dictsort %}
		    <li class="section">
				<a href="/{{ section_number }}{{ section_name }}" class="{{ 'selected' if section_number + section_name == section }}">
					<span class="number">{{ section_number }}</span>
					<span class="slash">/</span>
					<span class="name">{{ section_name|upper }}</span>
				</a>
				<ol>
					{% for project_number, project_name in projects|sort if section_number + section_name == section %}
						<li class="project">
							<a href="/{{ section_number }}{{ section_name }}/{{ project_number }}{{ project_name }}">
								<span class="number">{{ project_number }}</span>
								<span class="name">{{ project_name|upper }}</span>
							</a>
						</li>
					{% endfor %}
				</ol>
			</li>
		{% endfor %}
	</ol>
{% endblock %}


{% block main %}
	<div class="row">
		{{ dict(image=images[0], section=('01', 'WEB'), project=('03', 'MARKETO')) | preview }}
		{{ dict(image=images[1], section=('01', 'WEB'), project=('05', 'NUMENTA')) | preview }}
		{{ dict(image=images[2], section=('01', 'WEB'), project=('02', 'INTERWEST')) | preview }}
	</div>
	<div class="row">
		{{ dict(image=images[3], section=('01', 'WEB'), project=('04', 'NOCTILUCA')) | preview }}
		{{ dict(image=images[4], section=('02', 'PRINT'), project=('04', 'GENETIC')) | preview }}
		{{ dict(image=images[5], section=('02', 'PRINT'), project=('03', 'M_D')) | preview }}
	</div>
	<div class="row">
		{{ dict(image=images[6], section=('03', 'PACKAGING'), project=('02', 'KNACK')) | preview }}
		{{ dict(image=images[7], section=('01', 'WEB'), project=('01', 'INMOBI')) | preview }}
		{{ dict(image=images[8], section=('02', 'PRINT'), project=('01', 'BARE')) | preview }}
	</div>
{% endblock %}