{% extends "bibiana.html" %}

{% block menu %}
	<ol>
		{% for (section_number, section_name), projects in tree|dictsort %}
		    <li class="section">
				<a href="/{{ section_number }}{{ section_name }}" class="{{ 'selected' if section_number + section_name == section }}">
					<span class="number">{{ section_number }}</span>
					<span class="slash">/</span>
					<span class="name">{{ section_name|upper }}</span>
				</a>
				<ol>
					{% for project_number, project_name in projects|sort if section_number + section_name == section %}
						<li class="project">
							<a href="/{{ section_number }}{{ section_name }}/{{ project_number }}{{ project_name }}">
								<span class="number">{{ project_number }}</span>
								<span class="name">{{ project_name|upper }}</span>
							</a>
						</li>
					{% endfor %}
				</ol>
			</li>
		{% endfor %}
	</ol>
{% endblock %}


{% block main %}
	{% for _, project in projects|dictsort %}
		{% if loop.index0 is divisibleby 3 %} <div class="row"> {% endif %}
			{% if project.get('url') %}<a href="{{ project['url'] }}">{% endif %}
                <div class="span12 preview" style="background-image:url('{{ project['image_url'] }}');">
                    <span class="orange {{ 'hover' if project.get('url') }}">
                        <span class="number">
                            <span class="section">{{ project['section_number'] }}</span>
                            <span class="slash">/</span>
                            <span class="project">{{ project['project_number'] }}</span>
                        </span>
                        <span class="text">
                            <span class="section">{{ project['section_name']|upper }}</span>
                            <span class="project">/ {{ project['project_name']|upper }}</span>
                        </span>
                    </span>
                </div>
            {% if project.get('url') %}</a>{% endif %}
        {% if loop.index is divisibleby 3 %} </div> {# endrow #}{% endif %}
    {% endfor %}
    {% if projects.keys()|length == 8 %}
        <div class="span12 bottom-right">
            <div class="section">
                <span class="number">{{ section[:2] }}</span>
                <span class="slash">/</span>
                <span class="name">{{ section[2:]|upper }}</span>
            </div>
        </div>
    </div> {# endrow #}
    {% endif %}
{% endblock %}