{% extends "bibiana.html" %}

{% block main %}
				<div class="row">
					{{ dict(image=images[0], section=('01', 'WEB'), project=('03', 'MARKETO')) | preview }}
					{{ dict(image=images[1], section=('01', 'WEB'), project=('05', 'NUMENTA')) | preview }}
					{{ dict(image=images[2], section=('01', 'WEB'), project=('02', 'INTERWEST')) | preview }}
				</div>
				<div class="row">
					{{ dict(image=images[3], section=('01', 'WEB'), project=('04', 'NOCTILUCA')) | preview }}
					{{ dict(image=images[4], section=('02', 'PRINT'), project=('04', 'GENETIC')) | preview }}
					{{ dict(image=images[5], section=('02', 'PRINT'), project=('03', 'M_D')) | preview }}
				</div>
				<div class="row">
					{{ dict(image=images[6], section=('03', 'PACKAGING'), project=('02', 'KNACK')) | preview }}
					{{ dict(image=images[7], section=('01', 'WEB'), project=('01', 'INMOBI')) | preview }}
					{{ dict(image=images[8], section=('02', 'PRINT'), project=('01', 'BARE')) | preview }}
				</div>
			</div>
		</div>
{% endblock %}