{% extends "bibiana.html" %}

{% block title %}
    {{ project[2:]|replace_dash|title }} :: {{ section[2:]|replace_dash|title }} :: Bibiana Monterde
{% endblock %}

{% block main %}
    <div class="landing">
        {# Force background image first. Background images are given lower priority in webkit #}
        <img src="/static/img/x.png" style="display: none;">
        <img src="/static/img/arrow.png" style="display: none;">
        <img src="/static/img/{{ section }}/{{ project }}/landing.png" style="display: none;">
        
        <div class="span24 landing-img" style="background-image:url('/static/img/{{ section }}/{{ project }}/landing.png');">
        </div>
        <div class="span12">
            <div class="project-description">
                <div class="number">
                    <span class="section">{{ section[:2] }}</span>
                    <span class="slash">/</span>
                    <span class="project">{{ project[:2] }}</span>
                </div>
                <div class="project-name">{{ project[2:]|replace_dash|upper }}</div>
                <div class="info">
                    {% for line in info %}
                        <div class="line">
                            <span class="key">{{ line[0] }}:</span>
                            <span class="value">{{ line[1] }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="x"></div>
            <div class="arrow"></div>
        </div>
    </div>   <!-- landing -->

    <div class="carousel">
        <table><tr><td>
        <div class="carousel-inner" style="left: 35px; width: 1000000px;">
            {% for image in images %}
                <img src="/static/img/{{ section }}/{{ project }}/{{ image }}" class="{{ 'active' if loop.first }}">
            {% endfor %}
        </div>
        </td></tr></table>
    </div>
{% endblock %}

{% block jsinclude %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/js/carousel.js"></script>
{% endblock %}
